name: vcd-api-tools Deploy Release
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GPG_OWNERTRUST: ${{secrets.GPG_OWNERTRUST}}
      GPG_PASSPHRASE: ${{secrets.GPG_PASSPHRASE}}
      GPG_SECRET_KEYS: ${{secrets.GPG_SECRET_KEYS}}
      GPG_EXECUTABLE: gpg
    steps:
    - uses: actions/checkout@v2
    - name: Configure gpg
      run: |
        gpg --quiet --batch --yes --decrypt --passphrase="$GPG_PASSPHRASE" --output gpg_files.tar ./build-resources/gpg_files.tar.gpg
        tar -f gpg_files.tar -xO gpg-secret-keys | gpg --batch --quiet --import
        tar -f gpg_files.tar -xO gpg-ownertrust | gpg --batch --quiet --import-ownertrust
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        server-id: ossrh
        server-username: SONATYPE_USERNAME
        server-password: SONATYPE_PASSWORD
    - name: Publish packages
      run: mvn -Prelease --settings build-resources/travis-settings.xml deploy
      env:
        SONATYPE_USERNAME: ${{secrets.SONATYPE_USERNAME}}
        SONATYPE_PASSWORD: ${{secrets.SONATYPE_PASSWORD}}
